@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html,
body {
    height: 100%;
    width: 100%;
}

header {
    width:100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;    
    margin-left: auto;    
    max-width: 100%;    
    min-width: 1014px;
    top:0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.myntra_home {
    height: 45px;
}
.nav-logo {
    margin-left: 4%;
}

.nav_bar {
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;

}

.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px 0;
    border-bottom: 3px solid transparent;
}

#men:hover{
    border-bottom: 3px solid #ff1500;
}
#women:hover {
    border-bottom: 3px solid #e51dba;
}
#kids:hover{
    border-bottom: 3px solid #e56d1d;
}
#homeliving:hover{
    border-bottom: 3px solid #e5e51d;
}
#beauty:hover{
    border-bottom: 3px solid #1dcee5;
}
#studio:hover {
    border-bottom: 3px solid #e51dba;
}

.search_bar {
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
}

.search-box {
    width: 34vw;
    padding: 7px 17px;
    margin-right: 10px;
    border: 0.5px solid rgb(185, 185, 185);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbfbfb;
    border-radius: 4px;
}

.search {
    width: 94%;
    border: 0px;
    outline: 0px;
    background-color: #fbfbfb;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.action_bar {
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
    margin-right: 4%;
    height: 48px;
}
.action_bar  a{
    color:black;
    text-decoration: none;
}
.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black;
}
.bag-item-count {
    background-color: #f16565;
    white-space: nowrap;
    text-align: center;
    line-height: 18px;
    padding: 0 6px;
    height: 18px;
    position: relative;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    left: 13px;
    top: -54px;
    font-weight: 700;
    cursor: pointer;
}
a.action_container:link {
    color:black;
}
.hero_section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:90px;
    margin-right: auto;    
    margin-left: auto;    
    max-width: 100%;    
    min-width: 1014px;
}

.image{
    max-width: 100%;
    height: auto;
}

.items-container {
    width: 90%;
    margin-right: auto;    
    margin-left: auto; 
    max-width: 100%;    
    min-width: 1014px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.item-container {
    width: 250px;
    margin: 10px;
}
.item-image {
    width: 100%;
}
.rating {
    font-size: 12px;
    font-weight: 700;
}
.company-name {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-name {
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;
}
.price {
    margin-top: 10px;
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
    white-space: nowrap;
}
.current-price {
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
}
.original-price {
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}
.discount {
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}
.btn-add-bag {
    margin-top: 8px;
    font-size: 18px;
    width: 100%;
    background-color: lightgreen;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}




footer{
    width:100%;
    margin-right: auto;    
    margin-left: auto;    
    max-width: 100%;    
    min-width: 1014px;
}
.footer_container {
    padding: 30px 0px 40px 0px;
    background: #FAFBFC;
    display: flex;
    justify-content: space-evenly;
  
}

.footer_column {
    display: flex;
    flex-direction: column;
}

.footer_column h3 {
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
}

.footer_column a {
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}

.copyright {
    color: #94969f;
    text-align: end;
    padding: 15px;
}